body{
    background-color: #E2C391;
    color: #251605;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}


h1{
    font-size: 72px;
}

.header{
    font-weight: 900;
}

.background{
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    width: 300px;
    height: auto;
}